<!DOCTYPE html>
<html ng-app="MyApp">
  <head >
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `link` tags, or asynchronously
        on the client using a solution like AMD (RequireJS).  Or, if you like, you can
        take advantage of Sails' boilerplate asset management.

        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically.  Both CSS (.css) and LESS (.less) are supported.
        In production, your styles will be minified and concatenated into a single file.
        
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/topcoat-mobile-dark.css">
    <link rel="stylesheet" href="/linker/styles/app.css">
    <!--STYLES END-->
  </head>

  <body ng-controller="MainCtrl">

    <div ng-view ng-class="slide">
        <%- body %>
    </div>





    <!--SCRIPTS-->
    <script src="/linker/js/lib/jquery.js"></script>
    <script src="/linker/js/lib/angular.js"></script>
    <script src="/linker/js/lib/socket.io.js"></script>
    <script src="/linker/js/lib/sails.io.js"></script>
    <script src="/linker/js/lib/angular-animate.js"></script>
    <script src="/linker/js/lib/angular-resource.js"></script>
    <script src="/linker/js/lib/angular-route.js"></script>
    <script src="/linker/js/lib/angular-touch.js"></script>
    <script src="/linker/js/angular/controllers.js"></script>
    <script src="/linker/js/angular/rest-services.js"></script>
    <script src="/linker/js/app.js"></script>
    <!--SCRIPTS END-->

     <!--TEMPLATES-->
     <script type="text/javascript" src="/partials.js"></script>
     <!--TEMPLATES END-->
  </body>
</html>
