<!DOCTYPE html>
<html ng-app="MyApp">
  <head >
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `link` tags, or asynchronously
        on the client using a solution like AMD (RequireJS).  Or, if you like, you can
        take advantage of Sails' boilerplate asset management.

        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically.  Both CSS (.css) and LESS (.less) are supported.
        In production, your styles will be minified and concatenated into a single file.
        
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/topcoat-mobile-dark.css">
    <link rel="stylesheet" href="/linker/styles/app.css">
    <!--STYLES END-->
  </head>

  <body ng-controller="MainCtrl" ng-class="nav">
  <div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button back-button" href="" ng-click="toggle_menu()">
            <span class="topcoat-icon topcoat-icon--menu-stack"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">{{title}}</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button back-button" href="" ng-click="back()">
            <span class="topcoat-icon topcoat-icon--back"></span>
        </a>    
    </div>

   
</div>
<nav class="side-nav">
        <div class="topcoat-list__container side-nav__list__container">
            <ul class="topcoat-list side-nav__list">
                <li ng-class="isActive('/ads')" class="topcoat-list__item side-nav__list__item " >
                    <a ng-click="go('/ads')"  class="side-nav__button">Main</a>
                </li>
                <li ng-class="isActive('/information')" class="topcoat-list__item side-nav__list__item">
                    <a ng-click="go('/information')" class="side-nav__button">Information</a>
                </li>
                <li ng-class="isActive('/services')" class="topcoat-list__item side-nav__list__item">
                    <a ng-click="go('/services')" class="side-nav__button">Services</a>
                </li>
            </ul>
        </div>
</nav>
<div class="main-content">
    <div ng-view ng-class="slide" class="pages"></div> 
</div>

    





    <!--SCRIPTS-->
    <script src="/linker/js/lib/jquery.js"></script>
    <script src="/linker/js/lib/angular.js"></script>
    <script src="/linker/js/lib/socket.io.js"></script>
    <script src="/linker/js/lib/sails.io.js"></script>
    <script src="/linker/js/lib/angular-animate.js"></script>
    <script src="/linker/js/lib/angular-resource.js"></script>
    <script src="/linker/js/lib/angular-route.js"></script>
    <script src="/linker/js/lib/angular-touch.js"></script>
    <script src="/linker/js/angular/controllers.js"></script>
    <script src="/linker/js/angular/rest-services.js"></script>
    <script src="/linker/js/app.js"></script>
    <!--SCRIPTS END-->

     <!--TEMPLATES-->
     <script type="text/javascript" src="/partials.js"></script>
     <!--TEMPLATES END-->
  </body>
</html>
