<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `link` tags, or asynchronously
        on the client using a solution like AMD (RequireJS).  Or, if you like, you can
        take advantage of Sails' boilerplate asset management.

        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically.  Both CSS (.css) and LESS (.less) are supported.
        In production, your styles will be minified and concatenated into a single file.
        
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    <% var platform = platform  || "android" %>
    <link rel="stylesheet" href="/css/chui.<%= platform %>-3.0.6.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/test.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>
    <div class="slide-out">
      <section>
        <ul class="list">
          <li data-show-article="main">Main</li>
          <li data-show-article="wizard">Wizard</li>
          <li data-show-article="information">Information</li>
          <li data-show-article="services">Services</li>
          <li data-show-article="account">Account</li>
          <li data-show-article="logout">Log out</li>
        </ul>
      </section>
    </div>
    <!--SCRIPTS-->
    <script src="/linker/js/jquery.js"></script>
    <script src="/linker/js/chui-3.0.6.js"></script>
    <script src="/linker/js/handlebars.runtime.js"></script>
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/mobile.js"></script>
    <script src="/linker/js/slideout.js"></script>
    <!--SCRIPTS END-->

     <!--TEMPLATES-->
     <script type="text/javascript" src="/jst.js"></script>
     <!--TEMPLATES END-->
  </body>
</html>
