<!DOCTYPE html>
<html ng-app="MyApp">
  <head >
    <title>Dead people</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/icomatic.css">
    <link rel="stylesheet" href="/linker/styles/topcoat-mobile-light.css">
    <link rel="stylesheet" href="/linker/styles/app-light.css">
    <!--STYLES END-->



  <body ng-controller="MainCtrl" ng-class="nav">

        <div class="topcoat-navigation-bar" ng-include src="'nav-bar'"></div>

        <nav class="side-nav" ng-include src="'side-nav'"></nav>
        
        <div class="main-content">
            <div ng-view ng-class="slide" class="pages"></div>
        </div>




    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <!--SCRIPTS-->
    <script src="/linker/live.js"></script>
    <script src="/linker/js/lib/angular-fileupload-shim.js"></script>
    <script src="/linker/js/lib/jquery.js"></script>
    <script src="/linker/js/lib/angular.js"></script>
    <script src="/linker/js/lib/socket.io.js"></script>
    <script src="/linker/js/lib/sails.io.js"></script>
    <script src="/linker/js/lib/angular-animate.js"></script>
    <script src="/linker/js/lib/angular-autocomplete.js"></script>
    <script src="/linker/js/lib/angular-fileupload.js"></script>
    <script src="/linker/js/lib/angular-resource.js"></script>
    <script src="/linker/js/lib/angular-route.js"></script>
    <script src="/linker/js/lib/angular-touch.js"></script>
    <script src="/linker/js/lib/icomatic.js"></script>
    <script src="/linker/js/lib/lodush.js"></script>
    <script src="/linker/js/lib/moment.js"></script>
    <script src="/linker/js/angular/definitions.js"></script>
    <script src="/linker/js/angular/controllers/ads.js"></script>
    <script src="/linker/js/angular/controllers/blog.js"></script>
    <script src="/linker/js/angular/controllers/deceased.js"></script>
    <script src="/linker/js/angular/controllers/main.js"></script>
    <script src="/linker/js/angular/controllers/session.js"></script>
    <script src="/linker/js/angular/rest-services.js"></script>
    <script src="/linker/js/app.js"></script>
    <!--SCRIPTS END-->

     <!--TEMPLATES-->
     <script type="text/javascript" src="/partials.js"></script>
     <!--TEMPLATES END-->
  </body>
</html>
