<nav class="current">
 	<a class="button  slide-out-button"></a>
	<h1>Dead people</h1>
</nav>
<article id="main" class="current">
	<section>
		<ul class="list">
			{{#each ads}}
				{{> ad_li}}
			{{/each}}
		</ul>
	</section>
</article>


{{#each ads}}
	{{> ad}}
{{/each}}