<nav class="current">
	<h1>Dead people</h1>
</nav>
<article id="main" class="current">
	<section>
		<p>Hello world1</p>
	</section>
</article>
<nav class="next">
	<h1>Dead people1</h1>
</nav>
<article id="wizard" class="next">
	<section>Hello yourself</section>
</article>
<nav class="next">
	<h1>Dead people2</h1>
</nav>
<article id="information" class="next">
	<section></section>
</article>
<nav class="next">
	<h1>Dead people3</h1>
</nav>
<article id="services" class="next">
	<section></section>
</article>
<nav class="next">
	<h1>Dead people4</h1>
</nav>
<article id="account" class="next">
	<section></section>
</article>
<nav class="next">
	<h1>Dead people5</h1>
</nav>
<article  id="sign out" class="next">
	<section></section>
</article>>p