<div class="details">
	<div class="block deceased">
		<img ng-src="{{staticUrl(deceased.photo)}}" alt="">
	</div>
	<div class="block">
		<h1>
			{{deceased.title}} {{deceased.name}} {{deceased.middle_name}} {{deceased.last_name}} 
		</h1>
		<h2>{{deceased.birth_date | date:'dd.MM.yyyy'}}-{{deceased.death_date | date: 'dd.MM.yyyy'}}</h2>
	</div>
	
	<div class="block">
		<h2>Birth address: {{deceased.birth_address}}</h2>
		<h2>Last address in life: {{deceased.address}}</h2>
	</div>

	<div class="block">
		<h2>Burial at: {{deceased.graveyard}}, on: {{deceased.burial_date | date:'dd.MM.yy hh:mm'}}</h2>
	</div>
	
	<div class="block">
		<h1>About:</h1>
		{{deceased.about}}
	</div>
	
</div>
 