<div class="details">
	<div class="block">
		<h1>{{deceased.last_name}} {{deceased.name}}</h1>
	</div>
	<div class="block">
		<form  name="form" class="form" novalidate>
			<h2>Burial details:</h2>
			<input type="text" class="topcoat-text-input" ng-model="deceased.graveyard" placeholder="Graveyard name" required ng-minlength="2"/>
			<div class="row">
				<label>Burial date:</label><input type="date"  class="topcoat-text-input" ng-model="deceased.burial_date" required/>
			</div>

			<h2>Grief details:</h2>
			<input type="text" class="topcoat-text-input" ng-model="ad.details.grief_location_name" placeholder="Griefing at" required ng-minlength = "2" />
			<input type="text" class="topcoat-text-input" ng-autocomplete='ad.details.grief_location_address' options="grief_address_options" details="grief_address_details"  ng-value="ad.details.grief_location_address" placeholder="Grief address" required/>
			<div class="row">
				<label>Grief date:</label>
				<input type="date" class="topcoat-text-input" ng-model="ad.details.grief_date" required/>
			</div>
			<h2>Ad message</h2>
			<textarea ng-model="ad.details.message" class="topcoat-textarea" required></textarea>
			<button ng-click="createAd()" ng-disabled="form.$invalid" class='topcoat-button'>Create Ad</button>
		</form>
	</div>

</div>