
<div class="topcoat-list__container scroller has-tab-bar">
  <div class="search-bar">
    <input ng-model="query" type="search" placeholder="search" class="topcoat-search-input search-key">
</div>
     <div ng-show="toggle_filter">
      <h1>Additional filters should popup from the left (similar to menu)</h1>  
    </div>
    <ul class="topcoat-list list ads-list">
        <li ng-repeat="ad in ads | filter:filterAds | filter:query | orderBy:'createdAt':true"  class="topcoat-list__item ">
            <a ng-click="go('/deceased/'+ad.deceased.id)" ng-if="ad.details.type=='deceased'" class="deceased">
                <img ng-src="{{staticUrl(ad.deceased.photo)}}" >
                <p>{{ad.deceased.last_name}} {{ad.deceased.name}}</p>
                <p>{{ad.deceased.birth_date | date:'yyyy'}}-{{ad.deceased.death_date | date: 'yyyy'}}</p>
                <span class="chevron icomatic">next</span>
            </a>
             <a ng-click="go('/ads/'+ad.id)" ng-if="ad.details.type=='obit'" class="obit">
                <img ng-src="{{staticUrl(ad.deceased.photo)}}" >
                <p>{{ad.deceased.last_name}} {{ad.deceased.name}}</p>
                <p>Obit ad</p>
                <span class="chevron icomatic">next</span>
            </a>
             <a ng-click="go('/ads/'+ad.id)" ng-if="ad.details.type=='sympathy'" class="sympathy">
                <img ng-src="{{staticUrl(ad.deceased.photo)}}" >
                <img ng-src="{{ad.details.from.photo}}">
                <p>{{ad.deceased.name}} {{ad.deceased.last_name}}</p>
                <p>Sympathy from: {{ad.details.from.last_name}} {{ad.details.from.name}}</p>
                <span class="chevron icomatic">next</span>
        </li>
    </ul>

    
   

</div>


<div class="tabs">
    <div class="topcoat-tab-bar">
      <label class="topcoat-tab-bar__item">
        <button class="topcoat-tab-bar__button"  ng-click="choose_ad_filter('all')">All</button>
      </label>
      <label class="topcoat-tab-bar__item">
        <button class="topcoat-tab-bar__button" ng-click="choose_ad_filter('deceased')">Deceased</button>
      </label>
      <label class="topcoat-tab-bar__item">
        <button class="topcoat-tab-bar__button" ng-click="choose_ad_filter('sympathy')">Sympathy</button>
      </label>
      <label class="topcoat-tab-bar__item">
        <button class="topcoat-tab-bar__button" ng-click="choose_ad_filter('obit')">Obit</button>
      </label>
    </div>
</div>