
<div class="details" ng-if="deceased !== false">
	<div class="topcoat-list__header">
		<img ng-src="{{deceased.photo}}"/>
		<h1>{{deceased.name}} {{deceased.last_name}}</h1> 
		<h2>{{deceased.birth_date | date:'MM.yyyy'}}-{{deceased.death_date | date: 'MM.yyyy'}}</h2>
	<div class="cleaner"></div>
	</div>
	
	<div class="topcoat-list__container" >
		<ul class="topcoat-list">

			<li ng-click="go('/ads/new')" class="topcoat-list__item">
				Add new
			</li>

			<li ng-click="choosePerson('/ads/new',deceased)" class="topcoat-list__item">
				Choose sombody else
			</li>
			<li class="topcoat-list__item" ng-click="go('/deceased/{{deceased.id}}/edit')">Edit profile</li>
			<li class="topcoat-list__item" ng-click="go('/ads/create/obit/{{deceased.id}}')">Write obit</li>
			<li class="topcoat-list__item" ng-click="go('/ads/create/sympathy/{{deceased.id}}')">Edit profile</li>
		</ul>
		

	</div>
</div>

<div class="details" ng-if="!deceased">
	<div class="topcoat-list__header">
		<button class='topcoat-button--cta'  ng-click="choosePerson()">Choose</button>
	</div>

		
	<div class="form">
		<h1>Add new person</h1>
			<input class="topcoat-text-input" type="text" placeholder="Name"/>
		<input class="topcoat-text-input" type="text" placeholder="Last name"/>
		<label class="topcoat-radio-button"><input type="radio" name="gender" value='m' checked>
			<div class="topcoat-radio-button__checkmark"></div>
			<span>Male</span>
		</label>
		<label class="topcoat-radio-button"><input type="radio" name="gender" value='f' >
			<div class="topcoat-radio-button__checkmark"></div>
			<span>Female</span>
		</label>
		<button class='topcoat-button'  ng-click="createDeceased()">Add</button>
	</div>
		

		
		

</div>